<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.terminal.dao.QrCodeMerchantMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.terminal.entity.QrCodeMerchant">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="QR_CODE" jdbcType="VARCHAR" property="qrCode" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="TERMINAL_NUMBER" jdbcType="VARCHAR" property="terminalNumber" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, QR_CODE, MERCHANT_NO, MERCHANT_NAME, TERMINAL_NUMBER
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_qrcode_merchant
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dt_qrcode_merchant
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.terminal.entity.QrCodeMerchant">
    insert into dt_qrcode_merchant (ID, QR_CODE, MERCHANT_NO, 
      MERCHANT_NAME)
    values (#{id,jdbcType=INTEGER}, #{qrCode,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.terminal.entity.QrCodeMerchant">
    insert into dt_qrcode_merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="qrCode != null">
        QR_CODE,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME,
      </if>
      <if test="terminalNumber != null">
        TERMINAL_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="terminalNumber != null">
        #{terminalNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.terminal.entity.QrCodeMerchant">
    update dt_qrcode_merchant
    <set>
      <if test="qrCode != null">
        QR_CODE = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.terminal.entity.QrCodeMerchant">
    update dt_qrcode_merchant
    set QR_CODE = #{qrCode,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByQrCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dt_qrcode_merchant
    where QR_CODE = #{qrCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByMerchantCode" parameterType="java.lang.String" resultType="cn.itbeien.terminal.vo.QrCodeMerchantVO">
    select
      QR_CODE as proName,(select QR_STATUS  from dt_qrcode  WHERE QR_CODE=mer.QR_CODE)as stage
    from dt_qrcode_merchant as mer
    where MERCHANT_NO = #{merCode,jdbcType=VARCHAR}
  </select>


  <select id="selectMerchantByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dt_qrcode_merchant
    where MERCHANT_NO = #{merNo,jdbcType=VARCHAR}
  </select>

</mapper>