<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.dao.AgentReportDetailMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.entity.AgentReportDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="AGENT_ID" jdbcType="BIGINT" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="PAYWAY_CODE" jdbcType="VARCHAR" property="paywayCode" />
    <result column="SCENE_CODE" jdbcType="VARCHAR" property="sceneCode" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="REFUND_AMOUNT" jdbcType="DECIMAL" property="refundAmount" />
    <result column="MER_INCOME" jdbcType="DECIMAL" property="merIncome" />
    <result column="AGENT_INCOME" jdbcType="DECIMAL" property="agentIncome" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, AGENT_ID, AGENT_NAME, ORDER_NO, PAYWAY_CODE, SCENE_CODE, AMOUNT, REFUND_AMOUNT, 
    MER_INCOME, AGENT_INCOME, CREATOR_NAME, TRADE_TIME, CREATE_TIME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_agent_report_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dt_agent_report_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.entity.AgentReportDetail">
    insert into dt_agent_report_detail (ID, AGENT_ID, AGENT_NAME, 
      ORDER_NO, PAYWAY_CODE, SCENE_CODE, 
      AMOUNT, REFUND_AMOUNT, MER_INCOME, 
      AGENT_INCOME, CREATOR_NAME, TRADE_TIME, 
      CREATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, #{agentName,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{paywayCode,jdbcType=VARCHAR}, #{sceneCode,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{refundAmount,jdbcType=DECIMAL}, #{merIncome,jdbcType=DECIMAL}, 
      #{agentIncome,jdbcType=DECIMAL}, #{creatorName,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.entity.AgentReportDetail">
    insert into dt_agent_report_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="paywayCode != null">
        PAYWAY_CODE,
      </if>
      <if test="sceneCode != null">
        SCENE_CODE,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT,
      </if>
      <if test="merIncome != null">
        MER_INCOME,
      </if>
      <if test="agentIncome != null">
        AGENT_INCOME,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="tradeTime != null">
        TRADE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="paywayCode != null">
        #{paywayCode,jdbcType=VARCHAR},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="merIncome != null">
        #{merIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentIncome != null">
        #{agentIncome,jdbcType=DECIMAL},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.entity.AgentReportDetail">
    update dt_agent_report_detail
    <set>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="paywayCode != null">
        PAYWAY_CODE = #{paywayCode,jdbcType=VARCHAR},
      </if>
      <if test="sceneCode != null">
        SCENE_CODE = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="merIncome != null">
        MER_INCOME = #{merIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentIncome != null">
        AGENT_INCOME = #{agentIncome,jdbcType=DECIMAL},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        TRADE_TIME = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.entity.AgentReportDetail">
    update dt_agent_report_detail
    set AGENT_ID = #{agentId,jdbcType=BIGINT},
      AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      PAYWAY_CODE = #{paywayCode,jdbcType=VARCHAR},
      SCENE_CODE = #{sceneCode,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      MER_INCOME = #{merIncome,jdbcType=DECIMAL},
      AGENT_INCOME = #{agentIncome,jdbcType=DECIMAL},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      TRADE_TIME = #{tradeTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>