<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.business.base.mapper.YlAreaMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.business.base.domain.YlArea">
    <result column="YL_ID" jdbcType="VARCHAR" property="ylId" />
    <result column="YL_CODE" jdbcType="VARCHAR" property="ylCode" />
    <result column="YL_NAME" jdbcType="VARCHAR" property="ylName" />
    <result column="YL_PR" jdbcType="VARCHAR" property="ylPr" />
    <result column="YL_PR_NAME" jdbcType="VARCHAR" property="ylPrName" />
  </resultMap>

  <sql id="Base_Column_List">
    YL_ID, YL_CODE, YL_NAME, YL_PR, YL_PR_NAME
  </sql>

  <insert id="insert" parameterType="cn.itbeien.business.base.domain.YlArea">
    insert into cs_yl_area (YL_ID, YL_CODE, YL_NAME, 
      YL_PR, YL_PR_NAME)
    values (#{ylId,jdbcType=VARCHAR}, #{ylCode,jdbcType=VARCHAR}, #{ylName,jdbcType=VARCHAR}, 
      #{ylPr,jdbcType=VARCHAR}, #{ylPrName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.business.base.domain.YlArea">
    insert into cs_yl_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ylId != null">
        YL_ID,
      </if>
      <if test="ylCode != null">
        YL_CODE,
      </if>
      <if test="ylName != null">
        YL_NAME,
      </if>
      <if test="ylPr != null">
        YL_PR,
      </if>
      <if test="ylPrName != null">
        YL_PR_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ylId != null">
        #{ylId,jdbcType=VARCHAR},
      </if>
      <if test="ylCode != null">
        #{ylCode,jdbcType=VARCHAR},
      </if>
      <if test="ylName != null">
        #{ylName,jdbcType=VARCHAR},
      </if>
      <if test="ylPr != null">
        #{ylPr,jdbcType=VARCHAR},
      </if>
      <if test="ylPrName != null">
        #{ylPrName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectCnArea" resultType="cn.itbeien.business.base.domain.YlAreaVO">
    select yl_id as id,yl_code as value,YL_NAME as label from cs_yl_area where yl_pr =#{parentCode}
  </select>

  <select id="selectYlIdAreaByCode" resultType="java.lang.String">
    select yl_id from cs_yl_area where yl_code =#{ylCode}
  </select>
</mapper>