<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.task.dao.order.TradeOrderSeqMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.task.entity.TradeOrderSeq">
    <id column="TRADE_SEQ" jdbcType="VARCHAR" property="tradeSeq" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="MERC_NO" jdbcType="VARCHAR" property="mercNo" />
    <result column="MERC_ORDER_NO" jdbcType="VARCHAR" property="mercOrderNo" />
    <result column="TRADE_TYPE" jdbcType="CHAR" property="tradeType" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="BODY" jdbcType="VARCHAR" property="body" />
    <result column="BANK_TRADE_SEQ" jdbcType="VARCHAR" property="bankTradeSeq" />
    <result column="ORDER_IP" jdbcType="VARCHAR" property="orderIp" />
    <result column="ORDER_AMOUNT" jdbcType="DECIMAL" property="orderAmount" />
    <result column="CHANNEL_CODE" jdbcType="VARCHAR" property="channelCode" />
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="RET_CODE" jdbcType="VARCHAR" property="retCode" />
    <result column="RET_DESC" jdbcType="VARCHAR" property="retDesc" />
    <result column="RESP_CODE" jdbcType="VARCHAR" property="respCode" />
    <result column="RESP_DESC" jdbcType="VARCHAR" property="respDesc" />
    <result column="PAYWAY_CODE" jdbcType="VARCHAR" property="paywayCode" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PAYING_MERC_NO" jdbcType="VARCHAR" property="payingMercNo" />
    <result column="PAYING_MERC_NAME" jdbcType="VARCHAR" property="payingMercName" />
    <result column="CONNECT_SWITCH" jdbcType="VARCHAR" property="connectSwitch" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="FEE_VALUE" jdbcType="DECIMAL" property="feeValue" />
    <result column="SCENE_CODE" jdbcType="VARCHAR" property="sceneCode" />
    <result column="NOTICE_STATUS" jdbcType="CHAR" property="noticeStatus" />
    <result column="COST_VALUE" jdbcType="DECIMAL" property="costValue" />
    <result column="COST_RATIO" jdbcType="DECIMAL" property="costRatio" />
    <result column="FEE_RATIO" jdbcType="DECIMAL" property="feeRatio" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="LAST_UPDATE_USER" jdbcType="VARCHAR" property="lastUpdateUser" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    TRADE_SEQ, ORDER_ID, MERC_NO, MERC_ORDER_NO, TRADE_TYPE, SUBJECT, BODY, BANK_TRADE_SEQ, 
    ORDER_IP, ORDER_AMOUNT, CHANNEL_CODE, COMPLETE_TIME, STATUS, RET_CODE, RET_DESC, 
    RESP_CODE, RESP_DESC, PAYWAY_CODE, REMARK, PAYING_MERC_NO, PAYING_MERC_NAME, CONNECT_SWITCH, 
    CREATION_TIME, FEE_VALUE, SCENE_CODE, NOTICE_STATUS, COST_VALUE, COST_RATIO, FEE_RATIO, 
    CREATE_BY, CREATE_USER, CREATE_TIME, LAST_UPDATE_BY, LAST_UPDATE_USER, LAST_UPDATE_TIME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_trade_order_seq
    where TRADE_SEQ = #{tradeSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dt_trade_order_seq
    where TRADE_SEQ = #{tradeSeq,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.task.entity.TradeOrderSeq">
    insert into dt_trade_order_seq (TRADE_SEQ, ORDER_ID, MERC_NO, 
      MERC_ORDER_NO, TRADE_TYPE, SUBJECT, 
      BODY, BANK_TRADE_SEQ, ORDER_IP, 
      ORDER_AMOUNT, CHANNEL_CODE, COMPLETE_TIME, 
      STATUS, RET_CODE, RET_DESC, 
      RESP_CODE, RESP_DESC, PAYWAY_CODE, 
      REMARK, PAYING_MERC_NO, PAYING_MERC_NAME, 
      CONNECT_SWITCH, CREATION_TIME, FEE_VALUE, 
      SCENE_CODE, NOTICE_STATUS, COST_VALUE, 
      COST_RATIO, FEE_RATIO, CREATE_BY, 
      CREATE_USER, CREATE_TIME, LAST_UPDATE_BY, 
      LAST_UPDATE_USER, LAST_UPDATE_TIME)
    values (#{tradeSeq,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{mercNo,jdbcType=VARCHAR}, 
      #{mercOrderNo,jdbcType=VARCHAR}, #{tradeType,jdbcType=CHAR}, #{subject,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{bankTradeSeq,jdbcType=VARCHAR}, #{orderIp,jdbcType=VARCHAR}, 
      #{orderAmount,jdbcType=DECIMAL}, #{channelCode,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{retCode,jdbcType=VARCHAR}, #{retDesc,jdbcType=VARCHAR}, 
      #{respCode,jdbcType=VARCHAR}, #{respDesc,jdbcType=VARCHAR}, #{paywayCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{payingMercNo,jdbcType=VARCHAR}, #{payingMercName,jdbcType=VARCHAR}, 
      #{connectSwitch,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{feeValue,jdbcType=DECIMAL}, 
      #{sceneCode,jdbcType=VARCHAR}, #{noticeStatus,jdbcType=CHAR}, #{costValue,jdbcType=DECIMAL}, 
      #{costRatio,jdbcType=DECIMAL}, #{feeRatio,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=BIGINT}, 
      #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.task.entity.TradeOrderSeq">
    insert into dt_trade_order_seq
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeSeq != null">
        TRADE_SEQ,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="mercNo != null">
        MERC_NO,
      </if>
      <if test="mercOrderNo != null">
        MERC_ORDER_NO,
      </if>
      <if test="tradeType != null">
        TRADE_TYPE,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="body != null">
        BODY,
      </if>
      <if test="bankTradeSeq != null">
        BANK_TRADE_SEQ,
      </if>
      <if test="orderIp != null">
        ORDER_IP,
      </if>
      <if test="orderAmount != null">
        ORDER_AMOUNT,
      </if>
      <if test="channelCode != null">
        CHANNEL_CODE,
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="retCode != null">
        RET_CODE,
      </if>
      <if test="retDesc != null">
        RET_DESC,
      </if>
      <if test="respCode != null">
        RESP_CODE,
      </if>
      <if test="respDesc != null">
        RESP_DESC,
      </if>
      <if test="paywayCode != null">
        PAYWAY_CODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="payingMercNo != null">
        PAYING_MERC_NO,
      </if>
      <if test="payingMercName != null">
        PAYING_MERC_NAME,
      </if>
      <if test="connectSwitch != null">
        CONNECT_SWITCH,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="feeValue != null">
        FEE_VALUE,
      </if>
      <if test="sceneCode != null">
        SCENE_CODE,
      </if>
      <if test="noticeStatus != null">
        NOTICE_STATUS,
      </if>
      <if test="costValue != null">
        COST_VALUE,
      </if>
      <if test="costRatio != null">
        COST_RATIO,
      </if>
      <if test="feeRatio != null">
        FEE_RATIO,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateUser != null">
        LAST_UPDATE_USER,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeSeq != null">
        #{tradeSeq,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mercNo != null">
        #{mercNo,jdbcType=VARCHAR},
      </if>
      <if test="mercOrderNo != null">
        #{mercOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=CHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="bankTradeSeq != null">
        #{bankTradeSeq,jdbcType=VARCHAR},
      </if>
      <if test="orderIp != null">
        #{orderIp,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="retCode != null">
        #{retCode,jdbcType=VARCHAR},
      </if>
      <if test="retDesc != null">
        #{retDesc,jdbcType=VARCHAR},
      </if>
      <if test="respCode != null">
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respDesc != null">
        #{respDesc,jdbcType=VARCHAR},
      </if>
      <if test="paywayCode != null">
        #{paywayCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="payingMercNo != null">
        #{payingMercNo,jdbcType=VARCHAR},
      </if>
      <if test="payingMercName != null">
        #{payingMercName,jdbcType=VARCHAR},
      </if>
      <if test="connectSwitch != null">
        #{connectSwitch,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeValue != null">
        #{feeValue,jdbcType=DECIMAL},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="noticeStatus != null">
        #{noticeStatus,jdbcType=CHAR},
      </if>
      <if test="costValue != null">
        #{costValue,jdbcType=DECIMAL},
      </if>
      <if test="costRatio != null">
        #{costRatio,jdbcType=DECIMAL},
      </if>
      <if test="feeRatio != null">
        #{feeRatio,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.task.entity.TradeOrderSeq">
    update dt_trade_order_seq
    <set>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mercNo != null">
        MERC_NO = #{mercNo,jdbcType=VARCHAR},
      </if>
      <if test="mercOrderNo != null">
        MERC_ORDER_NO = #{mercOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        TRADE_TYPE = #{tradeType,jdbcType=CHAR},
      </if>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        BODY = #{body,jdbcType=VARCHAR},
      </if>
      <if test="bankTradeSeq != null">
        BANK_TRADE_SEQ = #{bankTradeSeq,jdbcType=VARCHAR},
      </if>
      <if test="orderIp != null">
        ORDER_IP = #{orderIp,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        ORDER_AMOUNT = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="channelCode != null">
        CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="retCode != null">
        RET_CODE = #{retCode,jdbcType=VARCHAR},
      </if>
      <if test="retDesc != null">
        RET_DESC = #{retDesc,jdbcType=VARCHAR},
      </if>
      <if test="respCode != null">
        RESP_CODE = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respDesc != null">
        RESP_DESC = #{respDesc,jdbcType=VARCHAR},
      </if>
      <if test="paywayCode != null">
        PAYWAY_CODE = #{paywayCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="payingMercNo != null">
        PAYING_MERC_NO = #{payingMercNo,jdbcType=VARCHAR},
      </if>
      <if test="payingMercName != null">
        PAYING_MERC_NAME = #{payingMercName,jdbcType=VARCHAR},
      </if>
      <if test="connectSwitch != null">
        CONNECT_SWITCH = #{connectSwitch,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeValue != null">
        FEE_VALUE = #{feeValue,jdbcType=DECIMAL},
      </if>
      <if test="sceneCode != null">
        SCENE_CODE = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="noticeStatus != null">
        NOTICE_STATUS = #{noticeStatus,jdbcType=CHAR},
      </if>
      <if test="costValue != null">
        COST_VALUE = #{costValue,jdbcType=DECIMAL},
      </if>
      <if test="costRatio != null">
        COST_RATIO = #{costRatio,jdbcType=DECIMAL},
      </if>
      <if test="feeRatio != null">
        FEE_RATIO = #{feeRatio,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateUser != null">
        LAST_UPDATE_USER = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRADE_SEQ = #{tradeSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.task.entity.TradeOrderSeq">
    update dt_trade_order_seq
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      MERC_NO = #{mercNo,jdbcType=VARCHAR},
      MERC_ORDER_NO = #{mercOrderNo,jdbcType=VARCHAR},
      TRADE_TYPE = #{tradeType,jdbcType=CHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      BODY = #{body,jdbcType=VARCHAR},
      BANK_TRADE_SEQ = #{bankTradeSeq,jdbcType=VARCHAR},
      ORDER_IP = #{orderIp,jdbcType=VARCHAR},
      ORDER_AMOUNT = #{orderAmount,jdbcType=DECIMAL},
      CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
      COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      RET_CODE = #{retCode,jdbcType=VARCHAR},
      RET_DESC = #{retDesc,jdbcType=VARCHAR},
      RESP_CODE = #{respCode,jdbcType=VARCHAR},
      RESP_DESC = #{respDesc,jdbcType=VARCHAR},
      PAYWAY_CODE = #{paywayCode,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PAYING_MERC_NO = #{payingMercNo,jdbcType=VARCHAR},
      PAYING_MERC_NAME = #{payingMercName,jdbcType=VARCHAR},
      CONNECT_SWITCH = #{connectSwitch,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      FEE_VALUE = #{feeValue,jdbcType=DECIMAL},
      SCENE_CODE = #{sceneCode,jdbcType=VARCHAR},
      NOTICE_STATUS = #{noticeStatus,jdbcType=CHAR},
      COST_VALUE = #{costValue,jdbcType=DECIMAL},
      COST_RATIO = #{costRatio,jdbcType=DECIMAL},
      FEE_RATIO = #{feeRatio,jdbcType=DECIMAL},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_USER = #{lastUpdateUser,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where TRADE_SEQ = #{tradeSeq,jdbcType=VARCHAR}
  </update>

  <update id="updateTradeOrderSeqByOrderId">
    UPDATE `dt_trade_order_seq` SET `STATUS`= #{payStatus},BANK_TRADE_SEQ= #{transactionId} WHERE `ORDER_ID` = #{orderId}
  </update>

</mapper>