<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.api.dao.AgentOrgMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.api.entity.agent.AgentOrg">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="CONTACT_PERSON" jdbcType="VARCHAR" property="contactPerson" />
    <result column="CONTACT_TEL" jdbcType="VARCHAR" property="contactTel" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="AREA_ID" jdbcType="INTEGER" property="areaId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="LEVEL" jdbcType="CHAR" property="level" />
    <result column="ORG_ACCOUNT" jdbcType="VARCHAR" property="orgAccount" />
    <result column="RATE" jdbcType="VARCHAR" property="rate" />
    <result column="NODE" jdbcType="CHAR" property="node" />
    <result column="CODE" jdbcType="CHAR" property="code" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="legal_identitycard_opposite" jdbcType="VARCHAR" property="legalIdentitycardOpposite" />
    <result column="BUSINESS_LICENSE" jdbcType="VARCHAR" property="businessLicense" />
    <result column="ACCOUNT_PERMIT" jdbcType="VARCHAR" property="accountPermit" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="LICENSE_NUMBER" jdbcType="VARCHAR" property="licenseNumber" />
    <result column="BANK_NUMBER" jdbcType="VARCHAR" property="bankNumber" />
    <result column="IMG_INFO" jdbcType="VARCHAR" property="imgInfo" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, AGENT_NAME, CONTACT_PERSON, CONTACT_TEL, ADDRESS, STATUS, AREA_ID, CREATOR, CREATOR_NAME, 
    CREATE_TIME, PARENT_ID, LEVEL, ORG_ACCOUNT, RATE, NODE, CODE, REMARK, ID_CARD,
    legal_identitycard_opposite, BUSINESS_LICENSE, ACCOUNT_PERMIT, EMAIL, LICENSE_NUMBER, 
    BANK_NUMBER, IMG_INFO
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_agent_org
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dt_agent_org
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.api.entity.agent.AgentOrg">
    insert into dt_agent_org (ID, AGENT_NAME, CONTACT_PERSON, 
      CONTACT_TEL, ADDRESS, STATUS, 
      AREA_ID, CREATOR, CREATOR_NAME, 
      CREATE_TIME, PARENT_ID, LEVEL, 
      ORG_ACCOUNT, RATE, NODE, 
      CODE, REMARK, ID_CARD,
      legal_identitycard_opposite, BUSINESS_LICENSE, 
      ACCOUNT_PERMIT, EMAIL, LICENSE_NUMBER, 
      BANK_NUMBER, IMG_INFO)
    values (#{id,jdbcType=BIGINT}, #{agentName,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{contactTel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{areaId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=BIGINT}, #{level,jdbcType=CHAR}, 
      #{orgAccount,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, #{node,jdbcType=CHAR}, 
      #{code,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
      #{legalIdentitycardOpposite,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR}, 
      #{accountPermit,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR}, 
      #{bankNumber,jdbcType=VARCHAR}, #{imgInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.api.entity.agent.AgentOrg" keyProperty="id" useGeneratedKeys="true">
    insert into dt_agent_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="agentName != null">
        AGENT_NAME,
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON,
      </if>
      <if test="contactTel != null">
        CONTACT_TEL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="level != null">
        LEVEL,
      </if>
      <if test="orgAccount != null">
        ORG_ACCOUNT,
      </if>
      <if test="rate != null">
        RATE,
      </if>
      <if test="node != null">
        NODE,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="idCard != null">
        ID_CARD,
      </if>
      <if test="legalIdentitycardOpposite != null">
        legal_identitycard_opposite,
      </if>
      <if test="businessLicense != null">
        BUSINESS_LICENSE,
      </if>
      <if test="accountPermit != null">
        ACCOUNT_PERMIT,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="licenseNumber != null">
        LICENSE_NUMBER,
      </if>
      <if test="bankNumber != null">
        BANK_NUMBER,
      </if>
      <if test="imgInfo != null">
        IMG_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=CHAR},
      </if>
      <if test="orgAccount != null">
        #{orgAccount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="node != null">
        #{node,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="legalIdentitycardOpposite != null">
        #{legalIdentitycardOpposite,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="accountPermit != null">
        #{accountPermit,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankNumber != null">
        #{bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="imgInfo != null">
        #{imgInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.api.entity.agent.AgentOrg">
    update dt_agent_org
    <set>
      <if test="agentName != null">
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="areaId != null">
        AREA_ID = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        LEVEL = #{level,jdbcType=CHAR},
      </if>
      <if test="orgAccount != null">
        ORG_ACCOUNT = #{orgAccount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        RATE = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="node != null">
        NODE = #{node,jdbcType=CHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="legalIdentitycardOpposite != null">
        legal_identitycard_opposite = #{legalIdentitycardOpposite,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        BUSINESS_LICENSE = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="accountPermit != null">
        ACCOUNT_PERMIT = #{accountPermit,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        LICENSE_NUMBER = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankNumber != null">
        BANK_NUMBER = #{bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="imgInfo != null">
        IMG_INFO = #{imgInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.api.entity.agent.AgentOrg">
    update dt_agent_org
    set AGENT_NAME = #{agentName,jdbcType=VARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      AREA_ID = #{areaId,jdbcType=INTEGER},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      LEVEL = #{level,jdbcType=CHAR},
      ORG_ACCOUNT = #{orgAccount,jdbcType=VARCHAR},
      RATE = #{rate,jdbcType=VARCHAR},
      NODE = #{node,jdbcType=CHAR},
      CODE = #{code,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      legal_identitycard_opposite = #{legalIdentitycardOpposite,jdbcType=VARCHAR},
      BUSINESS_LICENSE = #{businessLicense,jdbcType=VARCHAR},
      ACCOUNT_PERMIT = #{accountPermit,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      LICENSE_NUMBER = #{licenseNumber,jdbcType=VARCHAR},
      BANK_NUMBER = #{bankNumber,jdbcType=VARCHAR},
      IMG_INFO = #{imgInfo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAgentOrgList" resultMap="BaseResultMap" parameterType="cn.itbeien.api.entity.agent.AgentOrg">
    select
    <include refid="Base_Column_List" />
    from dt_agent_org
    <where>
      <if test="agentName != null and agentName != ''">
        AND AGENT_NAME like concat('%', #{agentName}, '%')
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
    </where>
  </select>

  <delete id="deleteAgentByIds" parameterType="Long">
    delete from dt_agent_org where id in
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <select id="selectAgentByOrgAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dt_agent_org
    where ORG_ACCOUNT = #{orgAccount,jdbcType=VARCHAR}
  </select>

</mapper>