<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.business.merchant.mapper.MerchantInfoMapper">
  <resultMap id="BaseResultMap" type="cn.itbeien.business.merchant.domain.MerchantInfo">
    <id column="MERC_NO" jdbcType="VARCHAR" property="mercNo" />
    <result column="MERC_NAME" jdbcType="VARCHAR" property="mercName" />
    <result column="MERC_NICK_NAME" jdbcType="VARCHAR" property="mercNickName" />
    <result column="PUBLIC_KEY_PATH" jdbcType="VARCHAR" property="publicKeyPath" />
    <result column="MERC_SIGN_TYPE" jdbcType="CHAR" property="mercSignType" />
    <result column="MERC_PRIVATE_KEY" jdbcType="VARCHAR" property="mercPrivateKey" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="LINKMAN" jdbcType="VARCHAR" property="linkman" />
    <result column="TELPHONE" jdbcType="VARCHAR" property="telphone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="MCC_ID" jdbcType="VARCHAR" property="mccId" />
    <result column="MER_AREA" jdbcType="VARCHAR" property="merArea" />
    <result column="EMPLOYEE_NUM" jdbcType="CHAR" property="employeeNum" />
    <result column="CONTRACT_NO" jdbcType="VARCHAR" property="contractNo" />
    <result column="CONTRACT_PATH" jdbcType="VARCHAR" property="contractPath" />
    <result column="MERC_BUSI_LIC" jdbcType="VARCHAR" property="mercBusiLic" />
    <result column="LIC_VALI_DATE" jdbcType="VARCHAR" property="licValiDate" />
    <result column="BUSI_LIC_FILE_NAME" jdbcType="VARCHAR" property="busiLicFileName" />
    <result column="LEGAL_VALIDITY" jdbcType="VARCHAR" property="legalValidity" />
    <result column="CORP_REPT_NAME" jdbcType="VARCHAR" property="corpReptName" />
    <result column="CORP_REPT_ID" jdbcType="VARCHAR" property="corpReptId" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="FIXED_PHONE" jdbcType="VARCHAR" property="fixedPhone" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="CORP_ADDR" jdbcType="VARCHAR" property="corpAddr" />
    <result column="ORI_PASSWD" jdbcType="VARCHAR" property="oriPasswd" />
    <result column="PASSWD" jdbcType="VARCHAR" property="passwd" />
    <result column="PASSWD_FLAG" jdbcType="CHAR" property="passwdFlag" />
    <result column="WRONG_COUNTS" jdbcType="INTEGER" property="wrongCounts" />
    <result column="LOCKED_TIME" jdbcType="TIMESTAMP" property="lockedTime" />
    <result column="SEND_BILL_FLAG" jdbcType="CHAR" property="sendBillFlag" />
    <result column="MERC_SETT_ACCT_TYPE" jdbcType="CHAR" property="mercSettAcctType" />
    <result column="MERC_SETT_ACCT" jdbcType="VARCHAR" property="mercSettAcct" />
    <result column="MERC_SETT_ACCT_NM" jdbcType="VARCHAR" property="mercSettAcctNm" />
    <result column="MERC_SETT_BANK" jdbcType="VARCHAR" property="mercSettBank" />
    <result column="MERC_SETT_BANK_NM" jdbcType="VARCHAR" property="mercSettBankNm" />
    <result column="MERC_SETT_BANK_PRO" jdbcType="VARCHAR" property="mercSettBankPro" />
    <result column="MERC_SETT_BANK_CITY" jdbcType="VARCHAR" property="mercSettBankCity" />
    <result column="CLEAR_CYCLE" jdbcType="CHAR" property="clearCycle" />
    <result column="CLEAR_DATE" jdbcType="VARCHAR" property="clearDate" />
    <result column="CLEAR_RATE" jdbcType="VARCHAR" property="clearRate" />
    <result column="CLEAR_FLAG" jdbcType="CHAR" property="clearFlag" />
    <result column="AGENT_NO" jdbcType="VARCHAR" property="agentNo" />
    <result column="MANAGER" jdbcType="VARCHAR" property="manager" />
    <result column="SERVICE_PHONE" jdbcType="VARCHAR" property="servicePhone" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="MERC_PICS_PATH" jdbcType="VARCHAR" property="mercPicsPath" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREDIT_AMT" jdbcType="DECIMAL" property="creditAmt" />
    <result column="MER_MODE" jdbcType="CHAR" property="merMode" />
    <result column="CAPITAL" jdbcType="INTEGER" property="capital" />
    <result column="BUSI_LIC_PATH" jdbcType="VARCHAR" property="busiLicPath" />
    <result column="MER_ID_RXM" jdbcType="VARCHAR" property="merIdRxm" />
    <result column="MER_ID_GHM" jdbcType="VARCHAR" property="merIdGhm" />
    <result column="MER_SYT" jdbcType="VARCHAR" property="merSyt" />
    <result column="MER_HJZ" jdbcType="VARCHAR" property="merHjz" />
    <result column="MER_MTZ" jdbcType="VARCHAR" property="merMtz" />
    <result column="ALLOW_AMT" jdbcType="DECIMAL" property="allowAmt" />
    <result column="PAY_SINGLE_LIMIT_AMT" jdbcType="DECIMAL" property="paySingleLimitAmt" />
    <result column="PAY_DAILY_LIMIT_AMT" jdbcType="DECIMAL" property="payDailyLimitAmt" />
    <result column="PAY_FLAG" jdbcType="CHAR" property="payFlag" />
    <result column="SINGLE_LIMIT_AMT" jdbcType="DECIMAL" property="singleLimitAmt" />
    <result column="DAILY_LIMIT_AMT" jdbcType="DECIMAL" property="dailyLimitAmt" />
    <result column="BUSIN_FORM" jdbcType="CHAR" property="businForm" />
    <result column="APPROVERS" jdbcType="VARCHAR" property="approvers" />
    <result column="LEGAL_TYPE" jdbcType="VARCHAR" property="legalType" />
  </resultMap>

  <sql id="Base_Column_List">
    MERC_NO, MERC_NAME, MERC_NICK_NAME, PUBLIC_KEY_PATH, MERC_SIGN_TYPE, MERC_PRIVATE_KEY, 
    STATUS, LINKMAN, TELPHONE, EMAIL, ADDRESS, MCC_ID, MER_AREA, EMPLOYEE_NUM, CONTRACT_NO, 
    CONTRACT_PATH, MERC_BUSI_LIC, LIC_VALI_DATE, BUSI_LIC_FILE_NAME, LEGAL_VALIDITY, 
    CORP_REPT_NAME, CORP_REPT_ID, POST_CODE, FIXED_PHONE, PROVINCE, CITY, CORP_ADDR, 
    ORI_PASSWD, PASSWD, PASSWD_FLAG, WRONG_COUNTS, LOCKED_TIME, SEND_BILL_FLAG, MERC_SETT_ACCT_TYPE, 
    MERC_SETT_ACCT, MERC_SETT_ACCT_NM, MERC_SETT_BANK, MERC_SETT_BANK_NM, MERC_SETT_BANK_PRO, 
    MERC_SETT_BANK_CITY, CLEAR_CYCLE, CLEAR_DATE, CLEAR_RATE, CLEAR_FLAG, AGENT_NO, MANAGER, 
    SERVICE_PHONE, CREATE_TIME, CREATOR, UPDATE_TIME, UPDATER, MERC_PICS_PATH, REMARK, 
    CREDIT_AMT, MER_MODE, CAPITAL, BUSI_LIC_PATH, MER_ID_RXM, MER_ID_GHM, MER_SYT, MER_HJZ, 
    MER_MTZ, ALLOW_AMT, PAY_SINGLE_LIMIT_AMT, PAY_DAILY_LIMIT_AMT, PAY_FLAG, SINGLE_LIMIT_AMT, 
    DAILY_LIMIT_AMT, BUSIN_FORM, APPROVERS, LEGAL_TYPE
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_merchant_info
    where MERC_NO = #{mercNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dt_merchant_info
    where MERC_NO = #{mercNo,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.business.merchant.domain.MerchantInfo">
    insert into dt_merchant_info (MERC_NO, MERC_NAME, MERC_NICK_NAME, 
      PUBLIC_KEY_PATH, MERC_SIGN_TYPE, MERC_PRIVATE_KEY, 
      STATUS, LINKMAN, TELPHONE, 
      EMAIL, ADDRESS, MCC_ID, 
      MER_AREA, EMPLOYEE_NUM, CONTRACT_NO, 
      CONTRACT_PATH, MERC_BUSI_LIC, LIC_VALI_DATE, 
      BUSI_LIC_FILE_NAME, LEGAL_VALIDITY, CORP_REPT_NAME, 
      CORP_REPT_ID, POST_CODE, FIXED_PHONE, 
      PROVINCE, CITY, CORP_ADDR, 
      ORI_PASSWD, PASSWD, PASSWD_FLAG, 
      WRONG_COUNTS, LOCKED_TIME, SEND_BILL_FLAG, 
      MERC_SETT_ACCT_TYPE, MERC_SETT_ACCT, MERC_SETT_ACCT_NM, 
      MERC_SETT_BANK, MERC_SETT_BANK_NM, MERC_SETT_BANK_PRO, 
      MERC_SETT_BANK_CITY, CLEAR_CYCLE, CLEAR_DATE, 
      CLEAR_RATE, CLEAR_FLAG, AGENT_NO, 
      MANAGER, SERVICE_PHONE, CREATE_TIME, 
      CREATOR, UPDATE_TIME, UPDATER, 
      MERC_PICS_PATH, REMARK, CREDIT_AMT, 
      MER_MODE, CAPITAL, BUSI_LIC_PATH, 
      MER_ID_RXM, MER_ID_GHM, MER_SYT, 
      MER_HJZ, MER_MTZ, ALLOW_AMT, 
      PAY_SINGLE_LIMIT_AMT, PAY_DAILY_LIMIT_AMT, PAY_FLAG, 
      SINGLE_LIMIT_AMT, DAILY_LIMIT_AMT, BUSIN_FORM, 
      APPROVERS, MER_LEGAL, LEGAL_TYPE, 
      LEGAL_CODE)
    values (#{mercNo,jdbcType=VARCHAR}, #{mercName,jdbcType=VARCHAR}, #{mercNickName,jdbcType=VARCHAR}, 
      #{publicKeyPath,jdbcType=VARCHAR}, #{mercSignType,jdbcType=CHAR}, #{mercPrivateKey,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{linkman,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mccId,jdbcType=VARCHAR}, 
      #{merArea,jdbcType=VARCHAR}, #{employeeNum,jdbcType=CHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{contractPath,jdbcType=VARCHAR}, #{mercBusiLic,jdbcType=VARCHAR}, #{licValiDate,jdbcType=DATE}, 
      #{busiLicFileName,jdbcType=VARCHAR}, #{legalValidity,jdbcType=VARCHAR}, #{corpReptName,jdbcType=VARCHAR}, 
      #{corpReptId,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{fixedPhone,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{corpAddr,jdbcType=VARCHAR}, 
      #{oriPasswd,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, #{passwdFlag,jdbcType=CHAR}, 
      #{wrongCounts,jdbcType=INTEGER}, #{lockedTime,jdbcType=TIMESTAMP}, #{sendBillFlag,jdbcType=CHAR}, 
      #{mercSettAcctType,jdbcType=CHAR}, #{mercSettAcct,jdbcType=VARCHAR}, #{mercSettAcctNm,jdbcType=VARCHAR}, 
      #{mercSettBank,jdbcType=VARCHAR}, #{mercSettBankNm,jdbcType=VARCHAR}, #{mercSettBankPro,jdbcType=VARCHAR}, 
      #{mercSettBankCity,jdbcType=VARCHAR}, #{clearCycle,jdbcType=CHAR}, #{clearDate,jdbcType=VARCHAR}, 
      #{clearRate,jdbcType=VARCHAR}, #{clearFlag,jdbcType=CHAR}, #{agentNo,jdbcType=VARCHAR},
      #{manager,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{mercPicsPath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creditAmt,jdbcType=DECIMAL}, 
      #{merMode,jdbcType=CHAR}, #{capital,jdbcType=INTEGER}, #{busiLicPath,jdbcType=VARCHAR}, 
      #{merIdRxm,jdbcType=VARCHAR}, #{merIdGhm,jdbcType=VARCHAR}, #{merSyt,jdbcType=VARCHAR}, 
      #{merHjz,jdbcType=VARCHAR}, #{merMtz,jdbcType=VARCHAR}, #{allowAmt,jdbcType=DECIMAL}, 
      #{paySingleLimitAmt,jdbcType=DECIMAL}, #{payDailyLimitAmt,jdbcType=DECIMAL}, #{payFlag,jdbcType=CHAR}, 
      #{singleLimitAmt,jdbcType=DECIMAL}, #{dailyLimitAmt,jdbcType=DECIMAL}, #{businForm,jdbcType=CHAR}, 
      #{approvers,jdbcType=VARCHAR}, #{merLegal,jdbcType=VARCHAR}, #{legalType,jdbcType=VARCHAR}, 
      #{legalCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.business.merchant.domain.MerchantInfo">
    insert into dt_merchant_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mercNo != null">
        MERC_NO,
      </if>
      <if test="mercName != null">
        MERC_NAME,
      </if>
      <if test="mercNickName != null">
        MERC_NICK_NAME,
      </if>
      <if test="publicKeyPath != null">
        PUBLIC_KEY_PATH,
      </if>
      <if test="mercSignType != null">
        MERC_SIGN_TYPE,
      </if>
      <if test="mercPrivateKey != null">
        MERC_PRIVATE_KEY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="linkman != null">
        LINKMAN,
      </if>
      <if test="telphone != null">
        TELPHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="mccId != null">
        MCC_ID,
      </if>
      <if test="merArea != null">
        MER_AREA,
      </if>
      <if test="employeeNum != null">
        EMPLOYEE_NUM,
      </if>
      <if test="contractNo != null">
        CONTRACT_NO,
      </if>
      <if test="contractPath != null">
        CONTRACT_PATH,
      </if>
      <if test="mercBusiLic != null">
        MERC_BUSI_LIC,
      </if>
      <if test="licValiDate != null">
        LIC_VALI_DATE,
      </if>
      <if test="busiLicFileName != null">
        BUSI_LIC_FILE_NAME,
      </if>
      <if test="legalValidity != null">
        LEGAL_VALIDITY,
      </if>
      <if test="corpReptName != null">
        CORP_REPT_NAME,
      </if>
      <if test="corpReptId != null">
        CORP_REPT_ID,
      </if>
      <if test="postCode != null">
        POST_CODE,
      </if>
      <if test="fixedPhone != null">
        FIXED_PHONE,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="corpAddr != null">
        CORP_ADDR,
      </if>
      <if test="oriPasswd != null">
        ORI_PASSWD,
      </if>
      <if test="passwd != null">
        PASSWD,
      </if>
      <if test="passwdFlag != null">
        PASSWD_FLAG,
      </if>
      <if test="wrongCounts != null">
        WRONG_COUNTS,
      </if>
      <if test="lockedTime != null">
        LOCKED_TIME,
      </if>
      <if test="sendBillFlag != null">
        SEND_BILL_FLAG,
      </if>
      <if test="mercSettAcctType != null">
        MERC_SETT_ACCT_TYPE,
      </if>
      <if test="mercSettAcct != null">
        MERC_SETT_ACCT,
      </if>
      <if test="mercSettAcctNm != null">
        MERC_SETT_ACCT_NM,
      </if>
      <if test="mercSettBank != null">
        MERC_SETT_BANK,
      </if>
      <if test="mercSettBankNm != null">
        MERC_SETT_BANK_NM,
      </if>
      <if test="mercSettBankPro != null">
        MERC_SETT_BANK_PRO,
      </if>
      <if test="mercSettBankCity != null">
        MERC_SETT_BANK_CITY,
      </if>
      <if test="clearCycle != null">
        CLEAR_CYCLE,
      </if>
      <if test="clearDate != null">
        CLEAR_DATE,
      </if>
      <if test="clearRate != null">
        CLEAR_RATE,
      </if>
      <if test="clearFlag != null">
        CLEAR_FLAG,
      </if>
      <if test="agentNo != null">
        AGENT_NO,
      </if>
      <if test="manager != null">
        MANAGER,
      </if>
      <if test="servicePhone != null">
        SERVICE_PHONE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="mercPicsPath != null">
        MERC_PICS_PATH,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="creditAmt != null">
        CREDIT_AMT,
      </if>
      <if test="merMode != null">
        MER_MODE,
      </if>
      <if test="capital != null">
        CAPITAL,
      </if>
      <if test="busiLicPath != null">
        BUSI_LIC_PATH,
      </if>
      <if test="merIdRxm != null">
        MER_ID_RXM,
      </if>
      <if test="merIdGhm != null">
        MER_ID_GHM,
      </if>
      <if test="merSyt != null">
        MER_SYT,
      </if>
      <if test="merHjz != null">
        MER_HJZ,
      </if>
      <if test="merMtz != null">
        MER_MTZ,
      </if>
      <if test="allowAmt != null">
        ALLOW_AMT,
      </if>
      <if test="paySingleLimitAmt != null">
        PAY_SINGLE_LIMIT_AMT,
      </if>
      <if test="payDailyLimitAmt != null">
        PAY_DAILY_LIMIT_AMT,
      </if>
      <if test="payFlag != null">
        PAY_FLAG,
      </if>
      <if test="singleLimitAmt != null">
        SINGLE_LIMIT_AMT,
      </if>
      <if test="dailyLimitAmt != null">
        DAILY_LIMIT_AMT,
      </if>
      <if test="businForm != null">
        BUSIN_FORM,
      </if>
      <if test="approvers != null">
        APPROVERS,
      </if>
      <if test="merLegal != null">
        MER_LEGAL,
      </if>
      <if test="legalType != null">
        LEGAL_TYPE,
      </if>
      <if test="legalCode != null">
        LEGAL_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mercNo != null">
        #{mercNo,jdbcType=VARCHAR},
      </if>
      <if test="mercName != null">
        #{mercName,jdbcType=VARCHAR},
      </if>
      <if test="mercNickName != null">
        #{mercNickName,jdbcType=VARCHAR},
      </if>
      <if test="publicKeyPath != null">
        #{publicKeyPath,jdbcType=VARCHAR},
      </if>
      <if test="mercSignType != null">
        #{mercSignType,jdbcType=CHAR},
      </if>
      <if test="mercPrivateKey != null">
        #{mercPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mccId != null">
        #{mccId,jdbcType=VARCHAR},
      </if>
      <if test="merArea != null">
        #{merArea,jdbcType=VARCHAR},
      </if>
      <if test="employeeNum != null">
        #{employeeNum,jdbcType=CHAR},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractPath != null">
        #{contractPath,jdbcType=VARCHAR},
      </if>
      <if test="mercBusiLic != null">
        #{mercBusiLic,jdbcType=VARCHAR},
      </if>
      <if test="licValiDate != null">
        #{licValiDate,jdbcType=DATE},
      </if>
      <if test="busiLicFileName != null">
        #{busiLicFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalValidity != null">
        #{legalValidity,jdbcType=VARCHAR},
      </if>
      <if test="corpReptName != null">
        #{corpReptName,jdbcType=VARCHAR},
      </if>
      <if test="corpReptId != null">
        #{corpReptId,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="corpAddr != null">
        #{corpAddr,jdbcType=VARCHAR},
      </if>
      <if test="oriPasswd != null">
        #{oriPasswd,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="passwdFlag != null">
        #{passwdFlag,jdbcType=CHAR},
      </if>
      <if test="wrongCounts != null">
        #{wrongCounts,jdbcType=INTEGER},
      </if>
      <if test="lockedTime != null">
        #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendBillFlag != null">
        #{sendBillFlag,jdbcType=CHAR},
      </if>
      <if test="mercSettAcctType != null">
        #{mercSettAcctType,jdbcType=CHAR},
      </if>
      <if test="mercSettAcct != null">
        #{mercSettAcct,jdbcType=VARCHAR},
      </if>
      <if test="mercSettAcctNm != null">
        #{mercSettAcctNm,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBank != null">
        #{mercSettBank,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankNm != null">
        #{mercSettBankNm,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankPro != null">
        #{mercSettBankPro,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankCity != null">
        #{mercSettBankCity,jdbcType=VARCHAR},
      </if>
      <if test="clearCycle != null">
        #{clearCycle,jdbcType=CHAR},
      </if>
      <if test="clearDate != null">
        #{clearDate,jdbcType=VARCHAR},
      </if>
      <if test="clearRate != null">
        #{clearRate,jdbcType=VARCHAR},
      </if>
      <if test="clearFlag != null">
        #{clearFlag,jdbcType=CHAR},
      </if>
      <if test="agentNo != null">
        #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="mercPicsPath != null">
        #{mercPicsPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creditAmt != null">
        #{creditAmt,jdbcType=DECIMAL},
      </if>
      <if test="merMode != null">
        #{merMode,jdbcType=CHAR},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=INTEGER},
      </if>
      <if test="busiLicPath != null">
        #{busiLicPath,jdbcType=VARCHAR},
      </if>
      <if test="merIdRxm != null">
        #{merIdRxm,jdbcType=VARCHAR},
      </if>
      <if test="merIdGhm != null">
        #{merIdGhm,jdbcType=VARCHAR},
      </if>
      <if test="merSyt != null">
        #{merSyt,jdbcType=VARCHAR},
      </if>
      <if test="merHjz != null">
        #{merHjz,jdbcType=VARCHAR},
      </if>
      <if test="merMtz != null">
        #{merMtz,jdbcType=VARCHAR},
      </if>
      <if test="allowAmt != null">
        #{allowAmt,jdbcType=DECIMAL},
      </if>
      <if test="paySingleLimitAmt != null">
        #{paySingleLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="payDailyLimitAmt != null">
        #{payDailyLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="payFlag != null">
        #{payFlag,jdbcType=CHAR},
      </if>
      <if test="singleLimitAmt != null">
        #{singleLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="dailyLimitAmt != null">
        #{dailyLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="businForm != null">
        #{businForm,jdbcType=CHAR},
      </if>
      <if test="approvers != null">
        #{approvers,jdbcType=VARCHAR},
      </if>
      <if test="merLegal != null">
        #{merLegal,jdbcType=VARCHAR},
      </if>
      <if test="legalType != null">
        #{legalType,jdbcType=VARCHAR},
      </if>
      <if test="legalCode != null">
        #{legalCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.business.merchant.domain.MerchantInfo">
    update dt_merchant_info
    <set>
      <if test="mercName != null">
        MERC_NAME = #{mercName,jdbcType=VARCHAR},
      </if>
      <if test="mercNickName != null">
        MERC_NICK_NAME = #{mercNickName,jdbcType=VARCHAR},
      </if>
      <if test="publicKeyPath != null">
        PUBLIC_KEY_PATH = #{publicKeyPath,jdbcType=VARCHAR},
      </if>
      <if test="mercSignType != null">
        MERC_SIGN_TYPE = #{mercSignType,jdbcType=CHAR},
      </if>
      <if test="mercPrivateKey != null">
        MERC_PRIVATE_KEY = #{mercPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="linkman != null">
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        TELPHONE = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mccId != null">
        MCC_ID = #{mccId,jdbcType=VARCHAR},
      </if>
      <if test="merArea != null">
        MER_AREA = #{merArea,jdbcType=VARCHAR},
      </if>
      <if test="employeeNum != null">
        EMPLOYEE_NUM = #{employeeNum,jdbcType=CHAR},
      </if>
      <if test="contractNo != null">
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractPath != null">
        CONTRACT_PATH = #{contractPath,jdbcType=VARCHAR},
      </if>
      <if test="mercBusiLic != null">
        MERC_BUSI_LIC = #{mercBusiLic,jdbcType=VARCHAR},
      </if>
      <if test="licValiDate != null">
        LIC_VALI_DATE = #{licValiDate,jdbcType=VARCHAR},
      </if>
      <if test="busiLicFileName != null">
        BUSI_LIC_FILE_NAME = #{busiLicFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalValidity != null">
        LEGAL_VALIDITY = #{legalValidity,jdbcType=VARCHAR},
      </if>
      <if test="corpReptName != null">
        CORP_REPT_NAME = #{corpReptName,jdbcType=VARCHAR},
      </if>
      <if test="corpReptId != null">
        CORP_REPT_ID = #{corpReptId,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        FIXED_PHONE = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="corpAddr != null">
        CORP_ADDR = #{corpAddr,jdbcType=VARCHAR},
      </if>
      <if test="oriPasswd != null">
        ORI_PASSWD = #{oriPasswd,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        PASSWD = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="passwdFlag != null">
        PASSWD_FLAG = #{passwdFlag,jdbcType=CHAR},
      </if>
      <if test="wrongCounts != null">
        WRONG_COUNTS = #{wrongCounts,jdbcType=INTEGER},
      </if>
      <if test="lockedTime != null">
        LOCKED_TIME = #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendBillFlag != null">
        SEND_BILL_FLAG = #{sendBillFlag,jdbcType=CHAR},
      </if>
      <if test="mercSettAcctType != null">
        MERC_SETT_ACCT_TYPE = #{mercSettAcctType,jdbcType=CHAR},
      </if>
      <if test="mercSettAcct != null">
        MERC_SETT_ACCT = #{mercSettAcct,jdbcType=VARCHAR},
      </if>
      <if test="mercSettAcctNm != null">
        MERC_SETT_ACCT_NM = #{mercSettAcctNm,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBank != null">
        MERC_SETT_BANK = #{mercSettBank,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankNm != null">
        MERC_SETT_BANK_NM = #{mercSettBankNm,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankPro != null">
        MERC_SETT_BANK_PRO = #{mercSettBankPro,jdbcType=VARCHAR},
      </if>
      <if test="mercSettBankCity != null">
        MERC_SETT_BANK_CITY = #{mercSettBankCity,jdbcType=VARCHAR},
      </if>
      <if test="clearCycle != null">
        CLEAR_CYCLE = #{clearCycle,jdbcType=CHAR},
      </if>
      <if test="clearDate != null">
        CLEAR_DATE = #{clearDate,jdbcType=VARCHAR},
      </if>
      <if test="clearRate != null">
        CLEAR_RATE = #{clearRate,jdbcType=VARCHAR},
      </if>
      <if test="clearFlag != null">
        CLEAR_FLAG = #{clearFlag,jdbcType=CHAR},
      </if>
      <if test="agentNo != null">
        AGENT_NO = #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        MANAGER = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        SERVICE_PHONE = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="mercPicsPath != null">
        MERC_PICS_PATH = #{mercPicsPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creditAmt != null">
        CREDIT_AMT = #{creditAmt,jdbcType=DECIMAL},
      </if>
      <if test="merMode != null">
        MER_MODE = #{merMode,jdbcType=CHAR},
      </if>
      <if test="capital != null">
        CAPITAL = #{capital,jdbcType=INTEGER},
      </if>
      <if test="busiLicPath != null">
        BUSI_LIC_PATH = #{busiLicPath,jdbcType=VARCHAR},
      </if>
      <if test="merIdRxm != null">
        MER_ID_RXM = #{merIdRxm,jdbcType=VARCHAR},
      </if>
      <if test="merIdGhm != null">
        MER_ID_GHM = #{merIdGhm,jdbcType=VARCHAR},
      </if>
      <if test="merSyt != null">
        MER_SYT = #{merSyt,jdbcType=VARCHAR},
      </if>
      <if test="merHjz != null">
        MER_HJZ = #{merHjz,jdbcType=VARCHAR},
      </if>
      <if test="merMtz != null">
        MER_MTZ = #{merMtz,jdbcType=VARCHAR},
      </if>
      <if test="allowAmt != null">
        ALLOW_AMT = #{allowAmt,jdbcType=DECIMAL},
      </if>
      <if test="paySingleLimitAmt != null">
        PAY_SINGLE_LIMIT_AMT = #{paySingleLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="payDailyLimitAmt != null">
        PAY_DAILY_LIMIT_AMT = #{payDailyLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="payFlag != null">
        PAY_FLAG = #{payFlag,jdbcType=CHAR},
      </if>
      <if test="singleLimitAmt != null">
        SINGLE_LIMIT_AMT = #{singleLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="dailyLimitAmt != null">
        DAILY_LIMIT_AMT = #{dailyLimitAmt,jdbcType=DECIMAL},
      </if>
      <if test="businForm != null">
        BUSIN_FORM = #{businForm,jdbcType=CHAR},
      </if>
      <if test="approvers != null">
        APPROVERS = #{approvers,jdbcType=VARCHAR},
      </if>
      <if test="merLegal != null">
        MER_LEGAL = #{merLegal,jdbcType=VARCHAR},
      </if>
      <if test="legalType != null">
        LEGAL_TYPE = #{legalType,jdbcType=VARCHAR},
      </if>
      <if test="legalCode != null">
        LEGAL_CODE = #{legalCode,jdbcType=VARCHAR},
      </if>
    </set>
    where MERC_NO = #{mercNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.business.merchant.domain.MerchantInfo">
    update dt_merchant_info
    set MERC_NAME = #{mercName,jdbcType=VARCHAR},
      MERC_NICK_NAME = #{mercNickName,jdbcType=VARCHAR},
      PUBLIC_KEY_PATH = #{publicKeyPath,jdbcType=VARCHAR},
      MERC_SIGN_TYPE = #{mercSignType,jdbcType=CHAR},
      MERC_PRIVATE_KEY = #{mercPrivateKey,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      TELPHONE = #{telphone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      MCC_ID = #{mccId,jdbcType=VARCHAR},
      MER_AREA = #{merArea,jdbcType=VARCHAR},
      EMPLOYEE_NUM = #{employeeNum,jdbcType=CHAR},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      CONTRACT_PATH = #{contractPath,jdbcType=VARCHAR},
      MERC_BUSI_LIC = #{mercBusiLic,jdbcType=VARCHAR},
      LIC_VALI_DATE = #{licValiDate,jdbcType=VARCHAR},
      BUSI_LIC_FILE_NAME = #{busiLicFileName,jdbcType=VARCHAR},
      LEGAL_VALIDITY = #{legalValidity,jdbcType=VARCHAR},
      CORP_REPT_NAME = #{corpReptName,jdbcType=VARCHAR},
      CORP_REPT_ID = #{corpReptId,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      FIXED_PHONE = #{fixedPhone,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      CORP_ADDR = #{corpAddr,jdbcType=VARCHAR},
      ORI_PASSWD = #{oriPasswd,jdbcType=VARCHAR},
      PASSWD = #{passwd,jdbcType=VARCHAR},
      PASSWD_FLAG = #{passwdFlag,jdbcType=CHAR},
      WRONG_COUNTS = #{wrongCounts,jdbcType=INTEGER},
      LOCKED_TIME = #{lockedTime,jdbcType=TIMESTAMP},
      SEND_BILL_FLAG = #{sendBillFlag,jdbcType=CHAR},
      MERC_SETT_ACCT_TYPE = #{mercSettAcctType,jdbcType=CHAR},
      MERC_SETT_ACCT = #{mercSettAcct,jdbcType=VARCHAR},
      MERC_SETT_ACCT_NM = #{mercSettAcctNm,jdbcType=VARCHAR},
      MERC_SETT_BANK = #{mercSettBank,jdbcType=VARCHAR},
      MERC_SETT_BANK_NM = #{mercSettBankNm,jdbcType=VARCHAR},
      MERC_SETT_BANK_PRO = #{mercSettBankPro,jdbcType=VARCHAR},
      MERC_SETT_BANK_CITY = #{mercSettBankCity,jdbcType=VARCHAR},
      CLEAR_CYCLE = #{clearCycle,jdbcType=CHAR},
      CLEAR_DATE = #{clearDate,jdbcType=VARCHAR},
      CLEAR_RATE = #{clearRate,jdbcType=VARCHAR},
      CLEAR_FLAG = #{clearFlag,jdbcType=CHAR},
      AGENT_NO = #{agentNo,jdbcType=VARCHAR},
      MANAGER = #{manager,jdbcType=VARCHAR},
      SERVICE_PHONE = #{servicePhone,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      MERC_PICS_PATH = #{mercPicsPath,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREDIT_AMT = #{creditAmt,jdbcType=DECIMAL},
      MER_MODE = #{merMode,jdbcType=CHAR},
      CAPITAL = #{capital,jdbcType=INTEGER},
      BUSI_LIC_PATH = #{busiLicPath,jdbcType=VARCHAR},
      MER_ID_RXM = #{merIdRxm,jdbcType=VARCHAR},
      MER_ID_GHM = #{merIdGhm,jdbcType=VARCHAR},
      MER_SYT = #{merSyt,jdbcType=VARCHAR},
      MER_HJZ = #{merHjz,jdbcType=VARCHAR},
      MER_MTZ = #{merMtz,jdbcType=VARCHAR},
      ALLOW_AMT = #{allowAmt,jdbcType=DECIMAL},
      PAY_SINGLE_LIMIT_AMT = #{paySingleLimitAmt,jdbcType=DECIMAL},
      PAY_DAILY_LIMIT_AMT = #{payDailyLimitAmt,jdbcType=DECIMAL},
      PAY_FLAG = #{payFlag,jdbcType=CHAR},
      SINGLE_LIMIT_AMT = #{singleLimitAmt,jdbcType=DECIMAL},
      DAILY_LIMIT_AMT = #{dailyLimitAmt,jdbcType=DECIMAL},
      BUSIN_FORM = #{businForm,jdbcType=CHAR},
      APPROVERS = #{approvers,jdbcType=VARCHAR},
      MER_LEGAL = #{merLegal,jdbcType=VARCHAR},
      LEGAL_TYPE = #{legalType,jdbcType=VARCHAR},
      LEGAL_CODE = #{legalCode,jdbcType=VARCHAR}
    where MERC_NO = #{mercNo,jdbcType=VARCHAR}
  </update>


  <select id="selectMerchantInfoList" parameterType="cn.itbeien.business.merchant.domain.MerchantInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dt_merchant_info
    <where>
      <if test="mercNo != null and mercNo != ''">
        AND MERC_NO like concat('%', #{mercNo}, '%')
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
      <if test="mercName != null and mercName != ''">
        AND MERC_NAME like concat('%', #{mercName}, '%')
      </if>
    </where>
  </select>

  <delete id="deleteMercByNos" parameterType="String">
    delete from dt_merchant_info where MERC_NO in
    <foreach collection="array" item="mercNo" open="(" separator="," close=")">
      #{mercNo}
    </foreach>
  </delete>
</mapper>