<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itbeien.business.qrcode.mapper.QrCodeMapper">
  <resultMap id="qrCodeResult" type="cn.itbeien.business.qrcode.domain.QrCode">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="QR_CODE" jdbcType="VARCHAR" property="qrCode" />
    <result column="QR_URL" jdbcType="VARCHAR" property="qrUrl" />
    <result column="QR_CONTENT" jdbcType="VARCHAR" property="qrContent" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="LAST_UPDATE_USER" jdbcType="VARCHAR" property="lastUpdateUser" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="QR_STATUS" jdbcType="CHAR" property="qrStatus" />
    <result column="AGENT_ID" jdbcType="BIGINT" property="agentId" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, QR_CODE, QR_URL,QR_CONTENT, CREATE_BY, CREATE_USER, CREATE_TIME, LAST_UPDATE_BY, LAST_UPDATE_USER,
    LAST_UPDATE_TIME, QR_STATUS,AGENT_ID
  </sql>

  <sql id="selectQrCodeVo">
    select ID, QR_CODE, QR_URL,QR_CONTENT, CREATE_BY, CREATE_USER, CREATE_TIME, LAST_UPDATE_BY, LAST_UPDATE_USER,
    LAST_UPDATE_TIME, QR_STATUS,AGENT_ID from dt_qrcode
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="qrCodeResult">
    select 
    <include refid="Base_Column_List" />
    from dt_qrcode
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dt_qrcode
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.itbeien.business.qrcode.domain.QrCode">
    insert into dt_qrcode (ID, QR_CODE, QR_URL, 
      CREATE_BY, CREATE_USER, CREATE_TIME, 
      LAST_UPDATE_BY, LAST_UPDATE_USER, LAST_UPDATE_TIME, 
      QR_STATUS)
    values (#{id,jdbcType=INTEGER}, #{qrCode,jdbcType=VARCHAR}, #{qrUrl,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{qrStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itbeien.business.qrcode.domain.QrCode">
    insert into dt_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="qrCode != null">
        QR_CODE,
      </if>
      <if test="qrUrl != null">
        QR_URL,
      </if>
      <if test="qrContent != null">
        QR_CONTENT,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateUser != null">
        LAST_UPDATE_USER,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="qrStatus != null">
        QR_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="qrUrl != null">
        #{qrUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrContent != null">
        #{qrContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrStatus != null">
        #{qrStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itbeien.business.qrcode.domain.QrCode">
    update dt_qrcode
    <set>
      <if test="qrCode != null">
        QR_CODE = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="qrUrl != null">
        QR_URL = #{qrUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateUser != null">
        LAST_UPDATE_USER = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrStatus != null">
        QR_STATUS = #{qrStatus,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itbeien.business.qrcode.domain.QrCode">
    update dt_qrcode
    set QR_CODE = #{qrCode,jdbcType=VARCHAR},
      QR_URL = #{qrUrl,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_USER = #{lastUpdateUser,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      QR_STATUS = #{qrStatus,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeys">
    update dt_qrcode
    set AGENT_ID = #{agentId,jdbcType=BIGINT}
    where ID in
    <foreach item="id" collection="ids" open="(" separator="," close=")">
    #{id}
  </foreach>
  </update>

  <select id="selectQrCodeList" parameterType="QrCode" resultMap="qrCodeResult">
    <include refid="selectQrCodeVo"/>
    <where>
      <if test="qrCode != null and qrCode != ''">
        AND QR_CODE like concat('%', #{qrCode}, '%')
      </if>
     <if test="qrStatus != null and qrStatus != ''">
        AND QR_STATUS = #{qrStatus}
      </if>
      <if test="agentId != null and agentId != ''">
        AND AGENT_ID = #{agentId}
      </if>
    </where>
    order by create_time desc
  </select>

  <delete id="deleteQrByIds" parameterType="Integer">
    delete from dt_qrcode where ID in
    <foreach collection="array" item="qrId" open="(" separator="," close=")">
      #{qrId}
    </foreach>
  </delete>

  <update id="updateQrCode" parameterType="QrCode">
    update dt_qrcode
    <set>
      <if test="qrStatus != null and qrStatus != ''">qr_status = #{qrStatus},</if>
    </set>
    where ID = #{id}
  </update>
</mapper>